html,body {
    
   width:100%;
    height:100%;
}

/* @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:wght@100&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap"); */

.header{
    background-color: rgb(34, 24, 70);
}
h1{
    margin: 0;
    padding: 0;
    color:rgb(55, 209, 214);
    text-align: center;
    font-family: 'Roboto', sans-serif;

}
h2{
    color:rgb(202, 142, 52);
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("mojaslika.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
.main{
color: white;
width: 35%;
margin: 5px auto;


}
img{
    width: 200px;
    height: 300px;
}
.movie  {
    display: inline-block;
    position: relative;
    left: 1%;
    width: 200px;
    height: 300px;
    padding-left: 50px;
    padding-right: 20px;
}

.ime{
    color: rgb(43, 122, 226);
   position: absolute;
    top: 50px;
      left: 65px;
      text-align: center;
  
}
.cena{
    padding-left: 15%;
    color: rgb(228, 69, 69);
    font-size: large;
    font-weight: 900;
   text-align: center;
    background-color: rgb(17, 17, 17);
   position: absolute;
    top: 100px;
      left: 65px;
      
}
.dugme{
    color: rgb(1, 8, 17);
   position: absolute;
    top: 280px;
      left: 75px;
      text-align: center;
}
.total {
position: absolute;
bottom: 270px;
left: 60%;
width: 400px;
color: rgb(248, 191, 2);
font-size: 40px;
border-style: double;
border-width: 50%;
border-radius: 25px;
border-color: rgb(202, 142, 52);
padding-left: 15px;
}

h3 span {
    font-size: 35px;
    color: brown;
    ;
}

h6{
    font-size: 20px;
    color: rgb(202, 142, 52);
}